@using PMIS.DTOs
@using BMISBLayer.Entities
@model PaymentTerm


<script>
    $(function () {
        $("#PaymentTermDate").datepicker({ altformat: "yy-mm-dd" });

    });

</script>
@if (ViewBag.error == false)
{
<p class="text-danger"> The PaymentTerm Amount is greater than Project Amount.</p>


}

<form action="/PaymentTerm/InsertPaymentTerm" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label> Payment Term Name</label>
        <input asp-for="PaymentTermTitle" />
    </div>

    <div class="form-group">
        <label> Payment Term Amount </label>
        <input asp-for="PaymentTermAmount" />
    </div>

    <div class="form-group">
        <label> Payment Term Date</label>
        <input id="PaymentTermDate" name="PaymentTermDate" />
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

</form>
