@using PMIS.DTOs
@using BMISBLayer.Entities
@model Deliverable

@{
    ViewData["Title"] = "Create Deliverable";
}

<script>
    $(function () {
        $("#StartDate").datepicker({ altformat: "yy-mm-dd" });
        $("#EndDate").datepicker({ altformat: "yy-mm-dd" });
    });

</script>


<form action="/Deliverable/InsertDeliverable" method="post" enctype="multipart/form-data">


    @Html.HiddenFor(x => x.DeliverableId)
    @*@Html.HiddenFor(x => x.ProjectPhaseId)*@
    <div class="border p-3">

        <div class="row form-group">
            <h2 class="text-black-50 pl-3">Add deliverable</h2>
        </div>
        <hr />
        <div class="form-group">
            <label> Deliverable Name</label>
            <input asp-for="DeliverableName" />
            <span asp-validation-for="DeliverableName" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label> Deliverable Description</label>
            <input asp-for="DeliverableDescription" />
            <span asp-validation-for="DeliverableDescription" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label> Start Date</label>
            <input id="StartDate" name="StartDate" />
            <span asp-validation-for="StartDate" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label> End Date</label>
            <input id="EndDate" name="EndDate" />
            <span asp-validation-for="EndDate" class="text-danger"></span>

        </div>


        <div class="form-group">
            <label> Select Project Phases </label>
            <select name="ProjectPhaseId" class="form-control">
                @{
                    <option selected="selected" disabled> Select Project Phases</option>
                    foreach (var pp in (List<ProjectPhase>)ViewBag.ProjectPhases)
                    {
                        <option value="@pp.ProjectPhaseId">@pp.Phase.PhaseName</option>


                    }
                }
            </select>
        </div>


        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Create" />
                </div>
                <div class="col">
                    <a asp-controller="Project" asp-action="Index" class="btn btn-danger w-75">Back</a>
                </div>
            </div>

        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}